<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions ="True" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="htp://www.w3.org/2001/XMLSchema-instance">
  
  <!-- the targets to write to -->
  <tagets async="true">
    <!-- write logs to file -->
    <target name="allfile" xsi:type="File"
            filename="c:\DemoLogs\nlog-all-${shortdate}.log" />
  </tagets>
  
  <!-- rules to map from logger name to target -->
  <rules>
    <!-- All logs, Including from Microsoft -->
    <logger name="*" minlevel="Info"/>
  </rules>
</nlog>